<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品登録フォーム</title>
     <link rel="stylesheet" href="css/form.css">
</head>
<body>
    <h1>商品登録フォーム</h1>
   <form th:action="@{/register}" method="post" enctype="multipart/form-data">
    <input type="text" name="productName" placeholder="商品名" required />
    <input type="text" name="price" placeholder="価格" required />
    <input type="file" name="imageFile" accept="image/*" />
    <input type="text" name="storeName" th:value="${storeName}" readonly />
    <button type="submit">登録</button>
</form>


<a href="/home">ホームに戻る</a>
</body>
</html>